apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: ${MANAGED_CA}
    server: ${MANAGED_KUBE_API_SERVER}
  name: cluster
contexts:
- context:
    cluster: cluster
    user: user
  name: context
current-context: context
kind: Config
preferences: {}
users:
- name: user
  user:
    token: ${MANAGED_TOKEN}